* @augustoFranke

/src/app/api/agendamentos/ @augustoFranke
/src/app/api/pagamentos/ @augustoFranke
/src/app/api/perfil/ @augustoFranke
/src/services/ @augustoFranke
/prisma/ @augustoFranke
/docs/ @augustoFranke
